<div class="jumbotron text" style="text-align: center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Write your diary</p>
    <a href="/notes" class="btn btn-dark btn-lg">See your notes</a>
</div>