<div class="card card-body">
    <h3 style="text-align: center">Edit Notes</h3>
    <form action="/notes/{{notes._id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" value="{{notes.title}}" required>
        </div>
        <div class="form-group">
            <label for="details">Title</label>
            <textarea class="form-control" name="details" required>{{notes.details}}</textarea>
        </div>
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>